@import 'normalize.css';
@import 'nav.css';
@import 'tiers.css';
@import 'stats.css';


html,
body {
    height: 100%;
    font-family: arial
}


body {
    background-color: rgb(255, 255, 255);
}

header {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    display: block;
    overflow: hidden;
}

header nav {
    min-width: 150px;
}


.linkLabel{
    font-size: 16px;
    color:rgb(141, 141, 141)
}

.head-navigation{
    background-color: #dc0a2d;
    height: 50px;

    box-shadow: 0px 2px 2px rgb(120, 120, 120);
}

.sub-head-navigation{
    text-align: center;
    display: inline;
    position:relative;
margin: auto;
left: 40%;

}

.head-navigation-title{
    margin: 0 auto;
    text-align: center;
    display:inline-block;
}

.toggle-menu{
    border: none !important;
}

/* The navigation menu links */
header a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #ececec;
    display: block;
    transition: 0s;
}

header a:hover {
background-color: rgb(255, 48, 48);
}

.active {
    display: block;
}

section {
    display: none;
}

.hidden {
    display: none !important
}

button {
    background: none;
}
.material-icons{
    color: rgb(255, 255, 255);
    background: none;
}

.home-descr .pkmn-sprite{
    width: 80px;
}

.home-descr .tmpl-pkmn{
    width: 20%;
    margin-left: 50px;
}

.home-descr .pkmn-type1{
background-color:#9cae18 ;
}

.home-descr .pkmn-type2{
background-color:  #914493;
}

#section-home{
    margin: auto;
    width: 80%;
}


.home-descr{
    background-color: #f1f1f1;
    
    padding: 10px 20px 10px 20px;
    margin-bottom: 40px !important;
    margin-top: 40px !important;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.31);
}

.homeButtonContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.homeElement{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: #f1f1f1;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;

    margin-right: auto;
    
}

.selected{
    background-color: #8f8f8f;
    transition-duration: 0.5s;
}

.buttonTitle{
    margin-left: 70px;
}

.buttonTitle-second{
    margin-left: 70px;
}

#types-chart{
    width: 50%;
    display: inline-block;

}

.type-descr{
    background-color: #f1f1f1;
    width: 35%;
    height: 35%;
    margin: auto;
    margin-bottom: 40px !important;
    margin-top: 40px !important;
    padding: 20px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.31);
    display: inline-block;
}

#section-types{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
gap: 20px;
}


.head-navigation-title{
    margin: 0 auto;
    text-align: center;
    display:inline-block;
}


@media screen and (max-width: 668px) {
    .head-navigation-title{
font-size: 20px;
    }
  }


  .buttonTitle{
      font-size: 20px;
      font-weight: 700;
  }



  .mini-nav{
      text-align: right;
  }
  .mini-nav a{
      font-size: 20px !important;
      font-weight: 400 !important;
      margin-top:20px;
      text-align: right;
  }